@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font:12px Verdana, Geneva, sans-serif;
	background:#fcfcfe;
}
html, body {
	padding:0;
	margin:0;
	height:100%;
	min-width:600px;
}
 
.logo{
        position:absolute;
        left:50%;
		top:70px;
        margin-left:-400px;
		width:800px; 
		height:260px;
		padding:4px;
		background:#FFFFFF;
		border:1px solid #000;
		-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
		-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
		box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
		
		background: url('http://school.xvatit.com/images/5/5d/E-conomix_(1).jpg') no-repeat left top;
		background-size:cover;
}

.header{
	width:100%;
	height:300px;
	background: url('../img/bg-header.jpg') no-repeat left top;
}

.content{
	width:100%;
}

.footer{
	position:relative;
	width:100%;
	height:50px;
	
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}


.table_main {
	width:97%;
	font:12px Verdana, Geneva, sans-serif;
	background:#fff;
	
	border:1px solid #CCC;
	
	-webkit-box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
	box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
}
.left_column{
	width:200px;
	padding-top:30px;
}
.center_column{
	padding-top:50px;
}
.right_column{
	width:200px;
	padding-top:30px;
}

.blok{
	margin:5px;
	margin-bottom:15px;
	width:190px;
	
    border: 1px solid transparent; /* граница будущего градента */
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.5), 0 7px 10px -7px rgba(0,0,0,0.5);
	
}
.blok_zag{	
	background: #62b120;
	text-align: left;
    position: relative;
    color: #fff;
    
    padding: 10px 5px;
    text-shadow: 0 1px rgba(0,0,0,.8);
	font-weight:bold;
	font-size:13px;
    
    background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.blok_con{
	padding: 5px 2px;
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

#content{
	margin:5px;
	width:97%;
	text-align:left;
	
	padding:7px;
	
    border: 1px solid transparent; /* граница будущего градента */
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.8), 0 4px 7px -4px rgba(0,0,0,0.6);
}

.f-l{
	float:left; 
	width:40%;
	margin-left:10px;
}
.f-r{
	float:right;
	width:49%;
	margin-right:10px;
}



ul#navmenu-v,
ul#navmenu-v li,
ul#navmenu-v ul {
margin: 0;
border: 0 none;
padding: 0;
width: 100%; 
list-style: none;
}
ul#navmenu-v:after {
clear: both;
display: block;
font: 1px/0px serif;
content: ".";
height: 0;
visibility: hidden;
}
ul#navmenu-v li {
float: left; 
display: block !important; 
display: inline; 
position: relative;
}
ul#navmenu-v a {
border: 1px solid #FFF;
border-right-color: #527337;
border-bottom-color: #527337;
padding: 6px 6px;
display: block;

color: #000;
font: 12px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
}
ul#navmenu-v a:hover,
ul#navmenu-v li:hover a,
ul#navmenu-v li.iehover a {
padding-left:15px;
background: rgba(98,177,32,.8);
color: #FFF;
font-weight:bold;
}


.hmenu{
}
.hmenu_back{
}
